body{
	background-color: #E5E5E5;
	margin: 0px;
}
p{
	text-indent: 2em;
}
.nav{
	width: 100%;
	background-color: black;
	color:white;
	overflow:hidden;
	padding: 10px;
	box-sizing:border-box;
}
.nav>h1{
	float: left;
	font-size: 25px;
}
.nav li{
	float: right;
	line-height: 50px;
	display: inline-block;
	margin: 5px 15px;

}
.nav li a{
	color:white;
	text-decoration: none;
}
.container{
	width:100%;
	overflow: hidden;
	height: auto;
}
.leftPart{
	margin: 0px 400px 0px 20px;
	height: auto;
}
.rightPart{
	width:360px;
	margin:0px 20px;
	float: right;
	height: auto;
}
.contentBox{
	background-color: white;
	width:100%;
	margin: 20px auto;
	padding:20px;
	border:solid 0.2px #D1D1D1;
	box-shadow: 3px 3px 3px #D1D1D1;
	box-sizing:border-box;
	overflow: hidden;
}
.contentBox p{
	word-break:break-all;
}
.contentBox h2{
	color:gray;
}
.author{
	color:gray;
}
table{
	width:100%;
}
table th{
	color:white;
	background-color: black;
}
table td{
	text-indent: 2em;
}
table tr:first-child>th:last-child{
	width:20%;
	color:white;
	background-color: black;
}
table tr:last-child>td{
	background-color: gray;
}
.sideBar{
	padding-left: 20px;
	border-left: solid 3px gray;
}
.imgUl li{
	float: left;
}
.contentBox>form label{
	display: inline-block;
	width:120px;
	text-align: right;
	vertical-align: top;
	margin:10px 0px 10px 15px;
}
form input{
	margin:10px 0px;
}
form>button{
	width: 100%;
	background-color:#4876FF;
	border-radius: 10px;
	color:white;
	height:40px;
	line-height: 40px;
}